.about {
    width: 100%;

}
.about-container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
/* about 1  */
.about1 {
    width: 100%;
    position: relative;

}
.aboutBg-title {
    z-index: 1;
}
.about1-bgTitle {
    color: #999999;
    position: absolute;
    font-size: 15em;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 2px;
    bottom: 50px;
    left: 150px;
    opacity: .5;
}
.about1-container {
    width: 100%;
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    z-index: 10;
}
.about1-left {
    width: 70%;
}
.about1-title {
    color: #ffba08;
    font-size: 3em;
}
.about1-para {
    color: #999999;
    line-height: 1.5em;
    font-size: 1.1em;
    width: 80%;
    margin: 10px 0;
}
.about1-btn {
   margin: 10px 0;
   padding: 10px 30px;
   background-color: transparent;
   border: 1px solid #ffba08;
   border-radius: 5px;
   color: #ffba08;
   font-size: 1.1em;
   transition: .4s ease;
}
.about1-btn:hover {
    color: #999999;
    border: 1px solid #999999;
}
.about1-right {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ffba08;
}
.about1-para2 {
    margin: 5px 0;
    color: #999999;
    line-height: 1.5em;
    letter-spacing: .1em;
    font-family: great vibes;
    font-size: 1.5em;
}

/* about2  */
.about2 {
    width: 100%;
    height: 100vh;
}

