.navbar {
    width: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}
.nav-container {
    width: 80%;
    margin: auto;
    height: 100px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.nav-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
}
.nav-link {
    text-decoration: none;
    color: #999999;
    font-size: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 500;
    margin: 20px 20px;
    transition: .4s ease;
}
.nav-link:hover {
    color: #ffba08;
}
.logo {
   color: #999999;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 2em;
}
.nav-btn {
   padding: 10px 30px;
   border-radius: 7px;
   background-color: transparent;
   border: 1px solid #ffba08;
   font-size: 1.5em;
   font-weight: 500;
   color: #ffba08;
   transition: .4s ease;
}
.nav-btn:hover {
    border: 1px solid #999999;
    color: #999999;
}
/***************************** media queries ****************************/
